.mm {
  display: none;
  width: 341px;
  height: auto;
  background: #F3F9FC;
  box-shadow: 0px 10px 20px rgba(0, 52, 86, 0.15);
  position: absolute;
  top: 63px;
  left: 132px;
  z-index: 200;
}
.mm:after {
  content: '';
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 5px;
  height: 100%;
  background-color: #CBCFD3;
}







.mm.mm-orange:after {
  background-color: #F7941D;
}
.mm.mm-blue:after {
  background-color: #00B3F5;
}
.mm.mm-coral:after {
  background-color: #F35757;
}
.mm.mm-purple:after {
  background-color: #B862C8;
}
.mm.mm-deep-purple:after {
  background-color: #3F51B5;
}
.mm.mm-yellow:after {
  background-color: #FBC02D;
}
.mm.mm-li6:after {
  background-color: #FF9248;
}
.mm.mm-li7:after {
  background-color: #B862C8;
}
.mm.mm-li8:after {
  background-color: #7562D9;
}
.mm.mm-green:after {
  background-color: #59BA51;
}
.mm.mm-li10:after {
  background-color: #1685CE;
}
.mm ul.mm--main {
  display: block;
  padding: 0px 0px 0px 0px;
}
.mm ul.mm--main li {
    display: block;
    position: relative;
    
}
.mm ul.mm--main li:last-child {
    margin-bottom: 0px;
}
/* .mm ul.mm--main li:hover:before {
    content: "";
    background: url("img/dm_arw.png") 0px 0px no-repeat transparent;
    display: block;
    position: absolute;
    width: 16px;
    height: 8px;
    z-index: 100;
    bottom: 0px;
    left: 45%;
} */
.mm ul.mm--main li a {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 26px;
  padding-right: 26px;
}
.mm ul.mm--main li a:hover {
  color: #1685CE;
  background-color: #fff;
}
.mm ul.mm--main li.mm-li1 a {
  
}
.mm ul.mm--main li.mm-li1 a:hover {
    
}
.mm ul.mm--main li.mm-li2 a {

}
.mm ul.mm--main li.mm-li2 a:hover {

}
.mm ul.mm--main li.mm-li3 a {

}
.mm ul.mm--main li.mm-li3 a:hover {

}
.mm ul.mm--main li.mm-li4 a {

}
.mm ul.mm--main li.mm-li4 a:hover {

}
.mm ul.mm--main li.mm-li5 a {

}
.mm ul.mm--main li.mm-li5 a:hover {

}
.mm ul.mm--main li.mm-li6 a {

}
.mm ul.mm--main li.mm-li6 a:hover {

}
.mm ul.mm--main li a {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 15px;
  color: #000000;
  text-decoration: none;
}
.mm ul.mm--other:before {
  content: '';
  display: block;
  width: 80%;
  height: 1px;
  background-color: #DFE6EE;
  margin: 0 auto 27px;
}
.mm ul.mm--other {
  display: block;
  padding: 16px 26px 0px 26px;
}
.mm ul.mm--other li {
  margin-bottom: 17px;
}
.mm ul.mm--other li a {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 15px;
  color: #4F525A;
  text-decoration: none;
}

.dm {
  display: none;
  position: absolute;
  top: 63px;
  left: 463px;
  width: 660px;
  height: 665px;
  border-radius: 2px;
  background-color: #f7f7f7;
  z-index: 150;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
}
.dm .column {
  display: inline-block;
  vertical-align: top;
  width: 186px;
  padding: 27px 0px 27px 25px;
}
.dm .column ul {

}
.dm .column ul li {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 15px;
}
.dm .column ul li.b {
  font-weight: 700;
  /* margin-bottom: 20px; */
}
.dm .column ul li a {

  color: #000000;
  text-decoration: none;
}
.dm .column ul li a:hover {
  color: #0072bc;
}
 /**.dm.dm-li3 .column:nth-child(2) {
  padding: 77px 0px 27px 25px;
}**/

@media (max-width: 768px) {
  .mm {
    display: none;
    width: 100%;
    height: 100%;
    background: #F3F9FC;
    box-shadow: 0px 10px 20px rgba(0, 52, 86, 0.15);
    position: fixed;
    top: 0px;
    left: 0px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 200;
  }
  .mm ul.mm--main {
      display: block;
      padding: 40px 55px 0px 0px;
  }
  .close-mm {
    position: absolute;
    top: -7px;
    right: 10px;
    font-size: 61px;
    font-weight: 300;
    color: #4F525A;
    text-decoration: none !important;
  }
}